{% extends 'blog/post_base.html' %}
    {% block title %}
        create
    {% endblock %} 
    {% block content %}
    <div class="container-sm">
        <div class="">
            <h3>{{ value }} Post</h3>
            <form method="POST" enctype="multipart/form-data" style="display: inline">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2"></div>
                    <button class="btn btn-primary" type="submit">{{ value }} post</button>
                </div>
            </form>
        </div>
    </div>
    
    {% endblock %} 