<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/detail.css" %}">
    <link rel="stylesheet" href="{% static "css/comments.css" %}">
    <link rel="stylesheet" href="{% static "css/form.css" %}">
    <link rel="stylesheet" href="{% static "css/delete.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/topic_listing.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="nav-1">
            <p ><a style="color: white;" href="{% url 'posts' %}">Innovation Club</a></p>
            <nav>
                <ul>
                    <li><a href="{% url 'posts' %}">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-2">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blog:create' %}">New Post</a></li>
                        <li><a href="{% url 'blog:draft' %}">Drafts</a></li>
                        <li><a href="#">{{ user.username }}</a></li>
                        <li><a class='btn btn-primary' type = 'button' href="{% url 'log_out' %}">Sign out</a></li>
                    {% else %}
                        <li><a class='btn btn-secondary' type = 'button' href="{% url "sign_up" %}">Sign up</a></li>
                        <li><a class='btn btn-primary' type = 'button' href="{% url "log_in" %}">Sign in</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}  
    </div>
     
</body>
</html>